---
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.jsx";
import Footer from "../components/Footer.astro";
import ContactForm from "../components/ContactForm.astro";
import CompanyContact from "../components/CompanyContact.astro";
import CompanyMap from "../components/CompanyMap.astro";
import LanguageSelectorWrapper from "../components/LanguageSelectorWrapper.astro";
import { getNavTranslations } from "../utils/index";

changeLanguage("es");

setDefaultNamespace("contact");
const navTranslations = getNavTranslations(t);
---

<html lang={i18next.language}>
    <head>
        <MainHead
            title="Contact | Encarnación Service SRL"
            description="Los diferentes servicios de sistemas disponibles por Encarnación Service SRL"
        />
        <HeadHrefLangs />
        <style></style>
    </head>
    <body>
        <Nav
            location="contact"
            translations={navTranslations}
            language={i18next.language}
            client:idle
            ><LanguageSelectorWrapper />
        </Nav>
        <main class="min-h-min">
            <section class="lg:h-screen">
                <div class="h-28">Banner here</div>
                <div
                    class="grid grid-cols-1 border items-center lg:grid-cols-12 md:px-4 lg:px-0 bg-gray-50"
                >
                    <div class="lg:col-start-1 lg:col-span-3 py-4 px-4">
                        <CompanyContact />
                    </div>
                    <div
                        class="border md:border-none py-4 lg:col-start-10 lg:col-span-3 overflow-hidden lg:h-auto"
                    >
                        <CompanyMap height="350" width="600" />
                    </div>
                    <div class="lg:row-start-1 lg:col-start-4 lg:col-span-6">
                        <ContactForm />
                    </div>
                </div>
            </section>
        </main>
        <Footer />
    </body>
</html>
