---
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.jsx";
import ContactForm from "../components/ContactForm.jsx";
import { ArticleTitle, SectionTitle } from "../components/Stateless.jsx";
---

<html lang="en">
  <head>
    <MainHead
      title="Services | Encarnación Service SRL"
      description="Los diferentes servicios de sistemas disponibles por Encarnación Service SRL"
    />
    <style>
      .wrapper.bio {
        max-width: 50em;
      }
    </style>
  </head>
  <body>
    <Nav location="contact" client:idle />
    <main>
      <div class="grid grid-cols-12 bg-world-pattern bg-fixed">
        <div class="col-span-12 lg:col-span-6 lg:py-8">
          <ContactForm showPatterns={false} client:visible />
        </div>
        <div
          class="col-span-12 sm:mx-6 lg:col-span-6 py-16 lg:py-32 px-4 lg:px-8 lg:max-w-7xl"
        >
          <div class="mb-6 sm:mb-16">
            <h2
              class="text-right text-3xl font-bold tracking-tight sm:text-4xl"
            >
              Ubicación
            </h2>
          </div>
          <p class="text-right">Dirección:</p>
          <p class="text-right">
            <span class="sr-only">Ubicación en el mapa de Google de Encarnación Service SRL</span>
            <a
              target="_blank"
              href="https://www.google.com/maps/place/Encarnacion+Service+SRL/@18.481114,-69.9389918,18z/data=!4m5!3m4!1s0x8eaf89eea118f2d7:0x1a1c9640afcc52a0!8m2!3d18.4809722!4d-69.938383"
              role="link"
              >Av. Abraham Lincoln No. 1067, Edificio Los rios III, Apartamento
              202, Ensanche Piantini
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="inline w-5 h-5"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25"
                ></path>
              </svg>
            </a>
          </p>
          <iframe
            width="600"
            height="600"
            class="w-full aspect-square"
            src="https://maps.google.com/maps?q=Encarnacion%20Service%20SRL%20edif,%20Los%20Rios%20III,%20Av.%20Abraham%20Lincoln%201067,%20Santo%20Domingo,%20Dominican%20Republic&t=&z=15&ie=UTF8&iwloc=&output=embed#"
          ></iframe>
        </div>
      </div>
      <!-- Side-by-side grid -->
      <div class="bg-white">
        <div
          class="mx-auto max-w-md py-24 px-4 sm:max-w-3xl sm:py-32 sm:px-6 lg:max-w-7xl lg:px-8"
        >
          <div class="divide-y divide-stone-200">
            <section
              class="lg:grid lg:grid-cols-3 lg:gap-8"
              aria-labelledby="contact-heading"
            >
              <h2
                id="contact-heading"
                class="text-2xl font-bold text-stone-900 sm:text-3xl sm:tracking-tight"
              >
                Póngase en contacto con nosotros
              </h2>
              <div
                class="mt-8 grid grid-cols-1 gap-12 sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 lg:col-span-2 lg:mt-0"
              >
                <div>
                  <h3 class="text-lg font-medium text-stone-900">
                    Principal
                  </h3>
                  <dl class="mt-2 text-base text-stone-500">
                    <div>
                      <dt class="sr-only">Email</dt>
                      <dd>encarnacionservice@gmail.com</dd>
                    </div>
                    <div class="mt-1">
                      <dt class="sr-only">Phone number</dt>
                      <dd>+1 (809) 686-5784</dd>
                    </div>
                  </dl>
                </div>

                <div>
                  <h3 class="text-lg font-medium text-stone-900">
                    <!-- Press -->
                </h3>
                  <dl class="mt-2 text-base text-stone-500">
                    <!-- <div>
                      <dt class="sr-only">Email</dt>
                      <dd>support@example.com</dd>
                    </div> -->
                    <div class="mt-1">
                      <dt class="sr-only">Phone number</dt>
                      <dd>+1 (809) 689-2413</dd>
                    </div>
                  </dl>
                </div>

                <div>
                  <h3 class="text-lg font-medium text-stone-900">
                    <!-- Join our team -->
                  </h3>
                  <dl class="mt-2 text-base text-stone-500">
                    <!-- <div>
                      <dt class="sr-only">Email</dt>
                      <dd>support@example.com</dd>
                    </div> -->
                    <div class="mt-1">
                      <dt class="sr-only">Phone number</dt>
                      <dd>+1 (809) 686-5784</dd>
                    </div>
                  </dl>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
