---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.jsx";
---

<html lang="en">
    <head>
        <MainHead
            title="About | Encarnación Service SRL"
            description="About Encarnación Service SRL"
        />
        <style>
            .heroImg {
                max-height: 24rem;
                object-fit: cover;
                overflow: hidden;
            }

            .heroImg img {
                width: 100%;
            }

            .bio {
                font-size: var(--f-u1);
                line-height: 2;
                margin-top: 4em;
                text-align: justify;
                text-justify: inter-word;
            }

            .wrapper.bio {
                max-width: 50em;
            }
        </style>
    </head>
    <body>
        <Nav location="philosophy" client:idle/>
        <main class="wrapper">
            
            Misión  

            Contribuir a la satisfacción de las necesidades de nuestros clientes con un servicio eficaz y de calidad.
            
            Visión
            
            Ser la empresa en servicio de comercio exterior y aduanas de mayor confiabilidad y prestigio, ayudando a nuestros clientes en el menor tiempo posible en el logro de sus objetivos, permitiendo el fortalecimiento de nuestra relación.
            
            Valores
            
                • Eficiencia
                • Puntualidad
                • Fidelidad
                • Confianza
                • Calidad
                • Seguridad
            
            
        </main>
        <Footer />
    </body>
</html>
