---
import i18next, { t, changeLanguage, setDefaultNamespace } from "i18next";
import { HeadHrefLangs } from "astro-i18next/components";
import MainHead from "../components/MainHead.astro";
import PageBanner from "../components/PageBanner.astro";
import DesicriptionTerm from "../components/DesicriptionTerm.astro";
import ContactForm from "../components/ContactForm.jsx";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.jsx";
import { ArticleTitle, SectionTitle } from "../components/Stateless";
import LanguageSelectorWrapper from "../components/LanguageSelectorWrapper.astro";
import { getNavTranslations } from "../utils/index";

changeLanguage("es");

setDefaultNamespace("services");
const navTranslations = getNavTranslations(t);
---

<html lang={i18next.language}>
    <head>
        <MainHead title={t("page.title")} description={t("page.description")} />
        <HeadHrefLangs />
    </head>
    <body class="bg-gradient-to-b from-white to-gray-100">
        <Nav
            location="services"
            translations={navTranslations}
            language={i18next.language}
            client:load
            ><LanguageSelectorWrapper />
        </Nav>
        <PageBanner
            alt=""
            title=""
            format="jpeg"
            image="https://images.unsplash.com/photo-1560264280-88b68371db39"
            titleClasses="block text-black"
        />
        <main></main>
        <Footer />
    </body>
</html>
