---
import MainHead from "../components/MainHead.astro";
import DesicriptionTerm from '../components/DesicriptionTerm.astro';
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.jsx";
import { ArticleTitle, SectionTitle } from "../components/Stateless";
---

<html lang="en">
    <head>
        <MainHead
            title="Services | Encarnación Service SRL"
            description="Los diferentes servicios de sistemas disponibles por Encarnación Service SRL"
        />
        <style>
            .wrapper.bio {
                max-width: 50em;
            }
        </style>
    </head>
    <body>
        <Nav location="services" client:idle/>
        <main class="wrapper">
            <div class="overflow-hidden bg-gray-50 py-16 lg:py-24">
                <div class="relative mx-auto max-w-xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
                  <svg class="absolute left-full hidden -translate-x-1/2 -translate-y-1/4 transform lg:block" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
                    <defs>
                      <pattern id="b1e6e422-73f8-40a6-b5d9-c8586e37e0e7" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                      </pattern>
                    </defs>
                    <rect width="404" height="784" fill="url(#b1e6e422-73f8-40a6-b5d9-c8586e37e0e7)" />
                  </svg>
              
                  <div class="relative">
                    <ArticleTitle>Nuestros Servicios</ArticleTitle>
                    <!-- <p class="mx-auto mt-4 max-w-3xl text-center text-xl text-gray-500">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus magnam voluptatum cupiditate veritatis in, accusamus quisquam.</p> -->
                  </div>
              
                  <div class="relative mt-12 lg:mt-24 lg:grid lg:grid-cols-2 lg:items-center lg:gap-8">
                    <div class="relative">
                      <SectionTitle>Asesoría en comercio internacional y gestiones aduanales.</SectionTitle>
                      <p class="mt-3 text-lg text-gray-500">Servicio de consulta e información de procesos relacionados a los regímenes aduaneros para la importación/ exportación de mercancía.</p> 
                    </div>
              
                    <div class="relative -mx-4 mt-10 lg:mt-0" aria-hidden="true">
                      <svg class="absolute invisible sm:visible left-1/2 -translate-x-1/2 translate-y-16 transform lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404">
                        <defs>
                          <pattern id="ca9667ae-9f92-4be7-abcb-9e3d727f2941" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                            <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                          </pattern>
                        </defs>
                        <rect width="784" height="404" fill="url(#ca9667ae-9f92-4be7-abcb-9e3d727f2941)" />
                      </svg>
                      <img class="relative mx-auto drop-shadow-lg" width="490" src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?w=1200&q=75" alt="">
                    </div>
                  </div>
              
                  <svg class="absolute right-full hidden translate-x-1/2 translate-y-12 transform lg:block" width="404" height="784" fill="none" viewBox="0 0 404 784" aria-hidden="true">
                    <defs>
                      <pattern id="64e643ad-2176-4f86-b3d7-f2c5da3b6a6d" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                        <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                      </pattern>
                    </defs>
                    <rect width="404" height="784" fill="url(#64e643ad-2176-4f86-b3d7-f2c5da3b6a6d)" />
                  </svg>
              
                  <div class="relative mt-12 sm:mt-48 lg:mt-24">
                    <div class="lg:grid lg:grid-flow-row-dense lg:grid-cols-2 lg:items-center lg:gap-8">
                      <div class="lg:col-start-2">
                        <SectionTitle>Gestiones Aduanales</SectionTitle>
                        <p class="mt-3 text-lg text-gray-500">Son todos los servicios relacionados al proceso de regímenes aduaneros para la importación/ exportación de mercancía.</p>
                        <dl class="mt-10 space-y-10">
                          <div class="relative">
                            <dt>
                              <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white">
                                <!-- Heroicon name: outline/chat-bubble-bottom-center-text -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                                </svg>
                              </div>
                              <p class="ml-10 text-xl font-medium leading-6 text-gray-900">Dentro de los regímenes aduaneros podemos encontrar:</p>
                            </dt>
                            <ul>
                                <li class="list-disc mt-2 ml-16 text-base text-gray-500">Regímenes de declaración a consumo: nacionalización</li>
                                <li class="list-disc mt-2 ml-16 text-base text-gray-500">Regímenes de suspensión de derechos de importación:  Internación temporal o admisión temporal sin transformación, admisión temporal con perfeccionamiento activo, exoneración (ley 4027).</li>
                                <li class="list-disc mt-2 ml-16 text-base text-gray-500">Leyes especiales: zona franca, mudanza y ley168.</li>
                                <li class="list-disc mt-2 ml-16 text-base text-gray-500">Otros: reembarque, transito (internacional, local).</li>
                            </ul>
                          </div>
                          <div class="relative">
                            <dt>
                              <div class="absolute flex h-12 w-12 items-center justify-center rounded-md bg-indigo-500 text-white">
                                <!-- Heroicon name: outline/chat-bubble-bottom-center-text -->
                                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                                  <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 8.25h9m-9 3H12m-9.75 1.51c0 1.6 1.123 2.994 2.707 3.227 1.129.166 2.27.293 3.423.379.35.026.67.21.865.501L12 21l2.755-4.133a1.14 1.14 0 01.865-.501 48.172 48.172 0 003.423-.379c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
                                </svg>
                              </div>
                              <p class="ml-10 text-xl font-medium leading-6 text-gray-900">Régimen de declaración a consumo</p>
                            </dt>
                            <ul>
                                <li class="list-disc mt-2 ml-16 text-base text-gray-500">Nacionalización</li>
                            </ul>
                            <DesicriptionTerm>Servicio de declaración de mercancía para importación con el fin del pago de los derechos de importación (impuestos y otros) y comercio local.</DesicriptionTerm>
                          </div>
                        </dl>
                      </div>
              
                      <div class="relative -mx-4 mt-10 lg:col-start-1 lg:mt-0">
                        <svg class="absolute left-1/2 -translate-x-1/2 translate-y-16 transform lg:hidden" width="784" height="404" fill="none" viewBox="0 0 784 404" aria-hidden="true">
                          <defs>
                            <pattern id="e80155a9-dfde-425a-b5ea-1f6fadd20131" x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse">
                              <rect x="0" y="0" width="4" height="4" class="text-gray-200" fill="currentColor" />
                            </pattern>
                          </defs>
                          <rect width="784" height="404" fill="url(#e80155a9-dfde-425a-b5ea-1f6fadd20131)" />
                        </svg>
                        <img class="relative mx-auto" width="490" src="https://tailwindui.com/img/features/feature-example-2.png" alt="">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              
            
            ● Asesoría en comercio internacional y gestiones aduanales.

            Servicio de consulta e información de procesos relacionados a los regímenes aduaneros para la importación/ exportación de mercancía.
            
            ● Gestiones Aduanales
            
            Son todos los servicios relacionados al proceso de regímenes aduaneros para la importación/ exportación de mercancía.
            
            Dentro de los regímenes aduaneros podemos encontrar:
            •	Regímenes de declaración a consumo: nacionalización
            •	Regímenes de suspensión de derechos de importación:  Internación temporal o admisión temporal sin transformación, admisión temporal con perfeccionamiento activo, exoneración (ley 4027).
            •	Leyes especiales: zona franca, mudanza y ley168.
            •	Otros: reembarque, transito (internacional, local).
            
            
            Régimen de declaración a consumo
            
            •	Nacionalización
            Servicio de declaración de mercancía para importación con el fin del pago de los derechos de importación (impuestos y otros) y comercio local.  
            
            Regímenes de suspensión de derechos de importación
            
            •	Internación temporal o Admisión temporal sin transformación
            Servicio de declaración de mercancía que permite la entrada al país con el fin de cumplir un propósito, por un tiempo limitado.
            
            •	 Admisión temporal para perfeccionamiento activo
            Servicio de declaración de mercancía que permite la entrada al país con el fin de ser sometida a un proceso de perfeccionamiento.
            
            Las actividades que entran en el renglón de perfeccionamiento son: transformación, montaje, ensamblaje, adaptación, reparación, restauración, acondicionamiento.
            
            Leyes especiales
            
            •	Exoneración (Ley 4027)
            Servicio de gestión y tramite de beneficio de descargo pago de derechos de importación de mercancía mediante resolución del ministerio de hacienda gaceta oficial, leyes que lo amparen.
            
            •	Zona Franca
            Servicio de declaración de mercancía en el régimen legal que tiene como beneficio el descargo de pago de derechos de importación, impuesto sobre la renta y otras obligaciones tributarias.
            
            •	Mudanza
            Servicio de declaración de ajuares del hogar y efectos personales con la aplicación de beneficios parciales a los ciudadanos dominicanos que vienen retirados del extranjero.
            
            •	Ley 168
            Servicio de gestión y tramite de beneficio de pago parcial de derechos de importación de vehículos de ciudadanos que viven en el exterior.  
            
            Otros
            
            •	Reembarque
            Servicio de declaración de mercancía que no fueron nacionalizadas para ser remitida al exterior.
            
            •	Tránsito Internacional
            Servicio de declaración de mercancía que permite el paso de dicha mercancía por el país para dirigirse a su destino final.
            
            •	Transito local
            Servicio de declaración de mercancía que permite el traslado de dicha mercancía de una aduana local a otra, con el objetivo del pago de los derechos de importación.
            
            ●Cambio de régimen aduanero
            Servicio de tramite y gestión de cambio de régimen aduanero.
            
            ● Fiscalización y conciliación ante la DGA
            Servicio de representación de un importador ante un proceso de fiscalización y conciliación.
            
            ● Trámite de permisos para importación y exportación
            Servicios de gestión y tramite de consentimientos requeridos para la importación/ exportación de mercancía.
            
            ● Trámite de primera placa equipos y vehículos
            Servicio de gestión y tramite de placa de vehículos y equipos nacionalizados.
            
            ● Traspaso de matrícula y placa de equipos
            Servicios de gestión y tramite de cesión de derecho de una persona física/ jurídica a otra.
            
            
            
            
            
            
            
            
            
            
            
        </main>
        <Footer />
    </body>
</html>
